[project]
	description = Welcome repo for ReviewNinja to help you get started. Feel free to delete when you're done, we won't take it personally.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vineeth123
[access "refs/for/refs/*"]
	read = group user/vineeth123
	push = group user/vineeth123
	label-Code-Review = -2..+2 group user/vineeth123
	label-Verified = -1..+1 group user/vineeth123
	rebase = group user/vineeth123
	removeReviewer = group user/vineeth123
	submit = group user/vineeth123
[access "refs/heads/*"]
	read = group user/vineeth123
	create = group user/vineeth123
	push = +force group user/vineeth123
	pushMerge = group user/vineeth123
[access "refs/tags/*"]
	push = +force group user/vineeth123
	pushTag = group user/vineeth123
	pushSignedTag = group user/vineeth123
